@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.modo_claro {
    background-color: #fff;
    color: #000;
}

.modo_escuro {
    background-color: hsl(0, 3%, 14%);
    color: #fff;
}

.header_container {
    width: 100%;
    max-height: 10vh;
    padding: 0 20px;
    display: flex;
}

.header_container div {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container div img {
    width: 100px;
    height: 100px;
}

.modo_escuro .header_container div img {
    filter: invert(1) brightness(2);
}

.header_container button {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid #b2987d;
    border-radius: 25px;
    cursor: pointer;
}

.modo_escuro .header_container button {
    color: #fff;
}

.main_container {
    display: flex;
    flex-direction: column;
}

.secao_banner {
    height: 30vh;
    display: flex;
}

.secao_banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; /* <- importante para remover espaço extra causado por display inline */
}

.secao_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px; /* aumenta o padding vertical */
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}

.secao_texto div {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: block; /* Alterado de flex para block para evitar possíveis problemas */
    text-align: center;
}

.secao_texto div h1 {
    font-size: 40px;
}

.secao_texto div p:first-of-type {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}

.secao_texto div p:last-of-type {
    margin-bottom: 0;
}

.assinatura {
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 50px;
    color: #b2987d;
}

@media (max-width: 525px) {
    .secao_texto h1 {
        font-size: 30px;
    }

    .assinatura {
        font-size: 40px;
    }
}

.footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #b2987d;
    color: white;
}

.modo_escuro .footer {
    background-color: #333;
}

.footerCopyright {
    font-size: 14px;
    font-weight: 500;
}

.footerCredits {
    font-size: 14px;
}

.footerLink {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.footerLink:hover {
    text-decoration: underline;
}

.linkIcon {
    margin-left: 5px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footerCredits {
        margin-top: 10px;
    }
}
